<section class="m-t-50">
    <div class="container d-flex d-flex__column align-items--center">
        <app-movies-search class="w-full" (onSearch)="searchMovie($event)">
        </app-movies-search>
        <section *ngIf="!(moviesLoading$ | async) && (movies$ | async)['Search']?.length > 0">
            <app-movies-list [movies]="(movies$ | async)['Search']" (onMovieLiked)="onMovieLiked($event)"
                [favorites]="favorites$ |async">
            </app-movies-list>
            <app-paginator [length]="(movies$ | async)['totalResults']" (pageChange)="loadPage($event)"
                [pageIndex]="currentPageIndex">
            </app-paginator>
        </section>
        <div *ngIf=" (moviesLoading$ | async)"
            style="position: absolute;top:50%;left:50%;transform: translate(-50%,-50%);">
            <mat-spinner color="warn"></mat-spinner>
        </div>
        <div
            *ngIf="(error$ | async) && (movies$ | async) && (movies$ | async).length && (movies$ | async).length === 0 && (movieSearched$ | async) && !(moviesLoading$ | async)">
            <h1>No movies found with this title</h1>
        </div>
        <div *ngIf="error$ | async">
            <h1>{{error$ | async}}</h1>
        </div>
    </div>
</section>