.text-color {
  &-white {
    color: #fff !important;
  }
  &-red {
    color: rgb(145, 9, 9) !important;
  }
  &-black {
    color: black !important;
  }
}

.btn-red {
  color: #fff !important;
  background-color: rgb(145, 9, 9) !important;
}
